#mainpic {
  text-align: center;
  margin: 30px;
}

#heroImage {
  justify-items: center;
  background-color: var(--maincolor);
  height: auto;
}

#monthlyspecial {
  font-size: 24px;
  flex-direction: row;
  display: flex;
  gap: 20px;
  padding: 30px;
}

.monthlytext {
  max-width: 600px;
  padding: 50px;
}

.monthlypics img {
}

.cafecard {
  font-size: 24px;
  display: flex;
  justify-content: center;
  flex-direction: row;
  padding: 30px;
}

.cafecard img {
  border-radius: 5px;
}
.cafecard p {
  max-width: 600px;
  padding: 75px;
}

#openinghours {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

#openinghours h3 {
  font-size: 28px;
  margin-bottom: 10px;
}

#openinghours p {
  font-size: 20px;
  text-align: center;
  padding: 10px;
}
