#mainpic {
  text-align: center;
  margin: 30px;
}

#heroImage {
  justify-items: center;
  background-color: var(--maincolor);
  height: auto;
}

#monthlyspecial {
  font-size: 24px;
  flex-direction: row;
  display: flex;
  gap: 20px;
}

.monthlytext {
  max-width: 600px;
  padding: 50px;
}

.mothlypics {
  display: flex;
  flex-direction: row;
  gap: 100px;
}

.cafecard {
  display: flex;
  flex-direction: row;
  padding: 50px;
}
.cafecard p {
  max-width: 600px;
  padding: 50px;
}
