:root {
  --maintext: #000;
  --bg: #fffaef;
  --maincolor: #580404;
  --maincolor-hov: #bd8b8b;
  --scndbtn: #8b5f40;
  --scnbtn-hov: #e5b999;
  --third-btn: #00694b;
  --third-btn-hov: #26aa85;
}



body {
  background-color: var(--bg);
}

header {
  background-color: var(--maincolor);
  font-family: "Karma", serif;
}

h1 {
  color: var(--maintext);
  font-size: 45px;
  font-family: "Karma", serif;
}

h2 {
  color: var(--maintext);
  font-size: 30px;
  font-family: "Karma", serif;
}

h3 {
  color: var(--maintext);
  font-size: 28px;
  font-family: "Karma", serif;
}

p {
  color: var(--maintext);
  font-size: 20px;
  font-family: "Karma", serif;
}
