.headerMain {
  background-color: #580404;
  height: 164px;
  width: 100%;
}

.logoImg {
  display: flex;
  height: 124px;
  justify-content: center;
  padding: 20px;
}

.headerButtons {
  background-color: var(--maincolor);
}

.headerButtons ul {
  color: white;
  display: flex;
  /* justify-content: center; */
  justify-content: space-around;
  list-style-type: none;
  flex-direction: row;
  padding: 40px;
  text-decoration: none;
}

.headerButtons,
a,
li {
  font-size: 30px;
  cursor: pointer;
  font-family: "Karma", serif;
  font-weight: 500;
  border-radius: 12px;
  padding: 0 12px;
  text-decoration: none;
}

.headerButtons li:hover {
  background-color: #bd8b8b;
  transform: scale(1.05);
  text-decoration: none;
}

.headerButtons a:visited {
  color: var(--bg);
  text-decoration: none;
}
