* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.headerMain {
    background-color: #580404;
    height: 164px;
}

.logoImg {
    display: flex;
    height:124px;
    justify-content: center;
}

.headerButtons ul {
    color: white;
    display: flex;
    /* justify-content: center; */
    justify-content: space-around;
    list-style-type: none;
    flex-direction: row;
}

.headerButtons li {

font-size: 22px;
cursor: pointer;
font-family: "Karma", serif;
font-weight: 500;
border-radius: 12px;
padding: 0 12px;
}

.headerButtons li:hover {
 background-color: #BD8B8B;
 transform: scale(1.05);
}  