#mainpic {
  text-align: center;
  margin: 30px;
}

.heroImage {
  display: flex;
  justify-content: center;
  background-color: var(--maincolor);
  padding: 40px 0;
}

.heroImage img {
  max-width: 100%;
  height: auto;
}

.monthlyspecial {
  font-size: 24px;
  flex-direction: row;
  display: flex;
  justify-content: center;
  gap: 20px;
  padding: 30px;
}

.monthlytext {
  display: flex;
  text-align: center;
  max-width: 600px;
  padding: 50px;
}

.monthlypics {
  display: flex;
  flex-direction: row;
  gap: 50px;
  border-radius: 5px;
}

#coffeeimg {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
}

.cafecard {
  font-size: 24px;
  display: flex;
  justify-content: center;
  flex-direction: row;
  padding: 30px;
  max-width: 100%;
}

.cafecard img {
  border-radius: 5px;
  padding: 2px;
}
.cafecard p {
  max-width: 600px;
  padding: 75px;
}

#openinghours {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

#openinghours h3 {
  font-size: 28px;
  margin-bottom: 10px;
}

#openinghours p {
  font-size: 20px;
  text-align: center;
  padding: 10px;
}

#toggleBtn {
  padding: 12px 20px;
  font-size: 16px;
  border: none;
  border-radius: 0 0 6px 0;
  cursor: pointer;
  transition: 0.3s;
}

#toggleBtn.off {
  background-color: var(--maincolor);
  color: #f3f3f3;
  border-top: #f3f3f3 2px solid;
}

#toggleBtn.on {
  background-color: var(--maincolor-hov);
  color: white;
  border-top: #000 2px solid;
}

.dark-mode {
  background-color: #000;
  color: #e6e6e6;
}

.dark-mode h1,
.dark-mode h2,
.dark-mode h3,
.dark-mode p,
.dark-mode li {
  color: #e6e6e6;
}

#mobile-menu[popover] {
  position: fixed;
  right: 0;
  left: auto;
  width: min(90vw, 20rem);
  height: 100dvh;
  overflow: auto;
  background-color: var(--bg);
  border: 3px solid var(--border);
  border-radius: var(--radius);
  padding: 1.5rem;
  margin-left: auto;
  font-family: "Karma", serif;
}

strong {
  font-size: 30px;
}

#mobile-menu header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.5rem;
  border: 0;
  background-color: transparent;
  padding: 0 0 1rem;
  color: var(--text);
}

#mobile-menu nav ul {
  display: grid;
  gap: 0.5rem;
  list-style: none;
}

#mobile-menu nav a {
  padding: 0.5rem;
  font-size: 20px;
  font-weight: 700;
  text-decoration: none;
  color: var(--maintext);
}

.menu-button {
  margin-left: auto;
  border: 2px solid var(--border);
  background-color: transparent;
  padding: 0.3rem;
  border-radius: var(--radius);
  cursor: pointer;
}

.button-close {
  border: 2px solid var(--border);
  background: transparent;
  padding: 0.5rem;
  border-radius: var(--radius);
  cursor: pointer;
}
