#mainpic {
  text-align: center;
  margin: 30px;
}

.heroImage {
  display: flex;
  justify-content: center;
  background-color: var(--maincolor);
  padding: 40px 0;
}

.heroImage img {
  max-width: 100%;
  height: auto;
}

#monthlyspecial {
  font-size: 24px;
  flex-direction: row;
  display: flex;
  gap: 20px;
  padding: 30px;
}

.monthlytext {
  max-width: 600px;
  padding: 50px;
}

.monthlypics {
  display: flex;
  flex-direction: row;
  gap: 50px;
  border-radius: 5px;
}

.cafecard {
  font-size: 24px;
  display: flex;
  justify-content: center;
  flex-direction: row;
  padding: 30px;
  max-width: 100%;
}

.cafecard img {
  border-radius: 5px;
}
.cafecard p {
  max-width: 600px;
  padding: 75px;
}

#openinghours {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

#openinghours h3 {
  font-size: 28px;
  margin-bottom: 10px;
}

#openinghours p {
  font-size: 20px;
  text-align: center;
  padding: 10px;
}

#co2-meter {
  position: fixed;
  bottom: 20px;
  left: 20px;
  background: white;
  padding: 10px 14px;
  border-radius: 10px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
  font-size: 14px;
}
#co2-cloud {
  font-size: 28px;
  text-align: center;
}
