@media (min-width: 1400px) {
  /*body {
    display: flex;
    flex-direction: column;
    align-items: center; /* Midstiller alt innhold */
  */

  /* Begrens maks bredde på alt innhold */
  header,
  section,
  footer,
  .heroImage,
  #monthlyspecial,
  .cafecard,
  .cafecard2,
  #openinghours {
    width: 100%;
    padding-left: 40px;
    padding-right: 40px;
    margin: 0 auto;
  }

  /* Midstill hero-bildet */
  .heroImage img {
    max-width: 1200px;
    width: 100%;
    height: auto;
  }

  /* Sørg for at footer følger samme layout */
  /*footer {
    max-width: 1200px;
    width: 100%;
    padding-left: 40px;
    padding-right: 40px;
  }*/
}

@media (max-width: 750px) {
  .headerButtons {
    display: none;
  }

  .heroImage {
    max-width: 100%;
  }

  #monthlyspecial {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 15px;
  }

  .monthlytext {
    max-width: 600px;
    margin-bottom: 20px;
  }

  .monthlypics {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    max-width: 600px;
  }

  .monthlypics img {
    width: 50%;
    height: auto;
    border-radius: 5px;
  }

  #coffeeimg {
    display: none;
  }

  .cafecard {
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 35px;
  }

  .cafecard2 {
    display: none;
  }

  footer {
    padding: 15px 20 px;
  }

  footer p.left footer p.center,
  footer nav.right {
    flex: 1 1 100%;
    text-align: center;
    justify-content: center;
  }

  footer nav.right {
    justify-content: center;
  }
}

@media (max-width: 480px) {
  #monthlyspecial {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 2px;
  }

  .monthlytext {
    max-width: 100%;
    margin-bottom: 15px;
    font-size: 16px;
    padding: 5px;
  }

  .monthlypics {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
    justify-content: center;
  }

  .monthlypics img {
    width: 30%;
    height: auto;
    border-radius: 5px;
  }

  .cafecard img {
    width: 100%;
    max-width: 100%;
    height: auto;
    margin-bottom: 15px;
  }

  .cafecard p {
    width: 100%;
    padding: 10px;
    font-size: 16px;
  }

  footer {
    flex-direction: column;
    align-items: center;
    padding: 15px 10px;
    gap: 10px;
  }

  footer nav.right a img.icon {
    width: 25px;
    height: 25px;
  }

  footer p.left,
  footer p.center {
    font-size: 14px;
  }
}
