@media (max-width: 750px) {
  .headerButtons {
    display: none;
  }

  .heroImage {
    max-width: 100%;
  }

  #monthlyspecial {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 15px;
  }

  .monthlytext {
    max-width: 600px;
    margin-bottom: 20px;
  }

  .monthlypics {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    max-width: 600px;
  }

  .monthlypics img {
    width: 50%;
    height: auto;
    border-radius: 5px;
  }

  #coffeeimg {
    display: none;
  }

  .cafecard {
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 35px;
  }

  .cafecard2 {
    display: none;
  }
}

@media (max-width: 480px) {
  #monthlyspecial {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 2px;
  }

  .monthlytext {
    max-width: 100%;
    margin-bottom: 15px;
    font-size: 16px;
    padding: 5px;
  }

  .monthlypics {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
    justify-content: center;
  }

  .monthlypics img {
    width: 30%;
    height: auto;
    border-radius: 5px;
  }

  .cafecard img {
    width: 100%;
    max-width: 100%;
    height: auto;
    margin-bottom: 15px;
  }

  .cafecard p {
    width: 100%;
    padding: 10px;
    font-size: 16px;
  }
}
