@media (min-width: 751px) {
  .menu-button {
    display: none;
  }

    .menu-button {
    display: none;
  }
}

@media (max-width: 480px) {
  .headerButtons {
    display: none;
  }

  .menu-button {
    display: block;
  }
}
