/*@media (min-width: 1400px) {
  header,
  section,
  footer,
  .heroImage,
  #monthlyspecial,
  .cafecard,
  .cafecard2,
  #openinghours #coffeeimg {
    width: 100%;
    padding-left: 400px;
    padding-right: 400px;
    margin: 0 auto;
  }
  .menu-button {
    display: none;
  }

  .nav-inline {
    display: flex;
  }

  .nav-inline ul {
    display: flex;
    gap: 1.5rem;
    list-style: none;
  }
}
*/
@media (min-width: 751px) {
  .menu-button {
    display: none;
  }
  .body {
    width: 100%;
    padding-left: 400px;
    padding-right: 400px;
    margin: 0 auto;
  }
}

@media (max-width: 750px) {
  .heroImage {
    max-width: 100%;
  }

  .monthlyspecial {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
    padding: 15px;
  }

  .monthlytext {
    display: flex;
    flex-direction: column;
    max-width: 600px;
    margin-bottom: 20px;
  }

  .monthlypics {
    display: flex;
    flex-direction: row;
    justify-content: center;
    max-width: 600px;
  }

  .monthlypics img {
    width: 50%;
    height: auto;
    border-radius: 5px;
  }

  #coffeeimg {
    display: none;
  }

  .cafecard {
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 35px;
  }

  .cafecard img {
    max-width: 100%;
  }

  .cafecard2 {
    display: none;
  }

  footer {
    padding: 15px 20 px;
  }

  footer p.left footer p.center,
  footer nav.right {
    flex: 1 1 100%;
    text-align: center;
    justify-content: center;
  }

  footer nav.right {
    justify-content: center;
  }
  .menu-button {
    display: none;
  }

  .nav-inline {
    display: flex;
  }

  .nav-inline ul {
    display: flex;
    gap: 1.5rem;
    list-style: none;
  }
}

@media (max-width: 480px) {
  .headerButtons {
    display: none;
  }

  .menu-button {
    display: block;
  }

  .monthlyspecial {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
    padding: 2px;
  }

  .monthlytext {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
    font-size: 16px;
    padding: 5px;
  }

  .monthlypics {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
    justify-content: center;
  }

  .monthlypics img {
    width: 30%;
    height: auto;
    border-radius: 5px;
  }
  .cafecard {
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 20px;
  }
  .cafecard img {
    width: 100%;
    max-width: 100%;
    height: auto;
    margin-bottom: 15px;
  }

  .cafecard p {
    width: 100%;
    padding: 10px;
    font-size: 16px;
  }

  #coffeeimg {
    display: none;
  }
  .cafecard2 {
    display: none;
  }
  footer {
    flex-direction: column;
    align-items: center;
    padding: 15px 10px;
    gap: 10px;
  }

  footer nav.right a img.icon {
    width: 25px;
    height: 25px;
  }

  footer p.left,
  footer p.center {
    font-size: 14px;
  }
}
