@import "./header.css";
@import "./footer.css";
@import "./global.css";
@import "./index.css";
@import "./meny.css";
@import "./takkeside.css";
@import "./mediaqueries-forside.css";
@import "./mediaqueries-takkeside.css";
@import "./handlekurv.css";
