.thankyou-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 32px;
  padding: 48px 16px;
}

.thankyou-message h1{
  padding-bottom: 15px;
}

.thankyou-message p {
  font-size: 22px;
  max-width: 600px;
  margin: 0 auto;
  padding-bottom: 50px;
}

.team-section {
  width: 100%;
  max-width: 900px;
}

.team-section h2 {
  margin-bottom: 16px;
  padding-bottom: 30px;

}

.team-container {
  display: flex;
  flex-direction: row;
  gap: 100px;
  justify-items: center;
}

.team-card {
  background-color: var(--bg);
  border: 1px solid #ddd;
  border-radius: 12px;
  padding: 24px;
  width: 100%;
  max-width: 300px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.team-photo {
  overflow: hidden;
  width: 100%;
  height: 150px;
  object-fit: cover;
  border-radius: 10px;
  margin-bottom: 16px;
}

.team-photo:hover {
  transform: scale(1.05);
  transition: transform 0.3s ease;
}

.team-card h3 {
  margin-bottom: 8px;
  color: var(--maintext);
  font-size: 20px;
}

.team-card p {
  color: var(--maintext);
  font-size: 14px;
}

.team-card button {
  margin-top: 16px;
  padding: 8px 16px;
  background-color: var(--scndbtn);
  color: #fff;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.team-card button:hover {
  background-color: var(--scnbtn-hov);
}

@media (max-width: 700px) {
  .team-container {
    flex-direction: column;
    align-items: center;
    gap: 40px;
  }
}